.loading-container {
  display: grid;
  place-items: center;
  height: 500px;
}

.loading {
  border: 8px solid white;
  border-top: 8px solid blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}